#left>ul>li>a:hover{
    background-color: #1e282c;
}
.sonul,
.sonul1,
.sonul2,
.sonul3 {
    display: none;
}
#left .sonul,
#left .sonul1,
#left .sonul2,
#left .sonul3 {
    background-color: #2c3b41;
}
#left>ul>.sonul>li>a {
    display: block;
    padding-left: 36px;
}
.sonulMove {
    transition: all 1s ease 5s;
}
.select,
input[type=text] ,
input[type=password],
input[type=number]
{
    font-size:12px;
    /* 设置输入框中字体的大小 */
    margin-top: 10px;
    height:30px;
    /* 设置输入框的高度 */

    border-radius:4px;
    /* 设置输入框的圆角的大小 */

    border:1px solid #c8cccf;
    /* 设置输入框边框的粗细和颜色 */

    color:#986655;
    /* 设置输入框中文字的颜色 */

    outline:0;
    /* 将输入框点击的时候出现的边框去掉 */

    text-align:left;
    /* 设置输入框中文字的位置 */

    padding-left: 10px;

    /* 将输入框设置为块级元素 */

    cursor: pointer;

}

.btn {
    display: block;
    margin-top: 10px;
    margin-left: 34px;
    width: 100px;
    height: 30px;
}