* {
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
body {
    height: 100%;
}
#left {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 14%;
    text-align: center;
    background-color: skyblue;
}
#left {
    background-color: #222d32;

}
#left ul li a {
    color:#83bbce;
}
#left ul li {
    cursor: pointer;

}
#left ul li p {
    color:#83bbce;

}
#left ul li a:hover,
#left ul li p:hover
{
    background-color: #1e282c;
    color: #ffffff;
}
#left ul li a {
    display:block;
    padding: 17px 0;
}
.iframe {
    position: absolute;
    right: 0;
    top: 0;
    height:100%;
    width:86%;
    margin-left: 200px;
    background-color: #ecf0f5!important;
}
body {
    background: url(../img/backGround1.jpg);
}
form {
    margin-top: 20px;
    margin-left: 50px;
}